<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "zh-cmn-Hans" }}">
  {{ partial "head.html" . }}
  <body class="bg-light" data-spy="scroll" data-target="#page-scrollspy" data-offset="90">
    {{ block "header" . }}
      {{ partial "site-navbar.html" . }} 
      {{ partial "page-header.html" . }}  
    {{ end }}

    {{ block "main" . }}
      <!-- Page-specific content goes here -->
    {{ end }}
    
    {{ partial "footer.html" . }}
    {{ partial "site-scripts.html" . }}
  </body>
</html>
