{{ define "main" }}
  <main class="post-main-wrapper px-5">
    <div class="row">
      {{ $hasSidebar := gt (add (len (where .Pages ".Params.categories" "ne" nil)) (len (where .Pages ".Params.series" "ne" nil)) (len (where .Pages ".Params.tags" "ne" nil))) 0 }}
      {{ if $hasSidebar }}
        <!-- Sidebar -->
        <div class="col-md-3">
          {{ partial "sidebar-categories.html" . }}
          {{ partial "sidebar-tags.html" . }}
          {{ partial "sidebar-series.html" . }}
        </div>
        <!-- Post list -->
        <div class="col-md-9 mt-3">
          {{ $paginator := .Paginate (where .Data.Pages "Type" "not in" (slice "index")) }}
      {{ else }}
        <div class="container content p-3">
      {{ end }}

          <!-- Page heading & post count -->
          <div class="div-x mb-3">
            {{ partial "page-heading.html" . }}
            {{ $page_num := len .Data.Pages }}
            {{ if gt $page_num 0 }}
              <div class="px-2 middot"></div>
              <div>{{ i18n "postCount" $page_num }}</div>
            {{ end }}
          </div>

          {{ if .Content }}
            <div class="post-content markdown">
              {{ .Content }}
            </div>
          {{ end }}

          <!-- Pagination & Post Cards -->
          <div>
            <div class="pagination pagination-outline justify-content-end active-color">
              {{ $paginator := .Paginate .Data.Pages.ByPublishDate.Reverse }}
              {{ template "_internal/pagination.html" . }}
            </div>
            {{ range $paginator.Pages }}
              {{ partial "post-card.html" . }}
            {{ end }}
          </div>

        </div>
      <!-- End post list column -->
    </div>
  </main>
{{ end }}
