<!-- jQuery -->
<script src="{{ "js/vendors/jquery/jquery-3.3.1.min.js" | absURL }}"></script>
<script src="{{ "js/vendors/jquery/jquery.smooth-scroll.min.js" | absURL }}"></script>

<!-- Popper & Bootstrap Bundle (includes Popper) -->
<script src="{{ "js/vendors-extensions/bootstrap4/bootstrap.bundle.min.js" | absURL }}"></script>

<!-- Other Vendors -->
<script src="{{ "js/vendors/holder.min.js" | absURL }}"></script>
<script src="{{ "js/vendors/mdb/mdb.min.js" | absURL }}"></script>

<!-- Main Script -->
<script src="{{ "js/main.js" | absURL }}"></script>

<!-- Highlight -->
{{ if .Site.Params.highlightjs }}  
  <script src="{{ "js/vendors/highlight.pack.js" | absURL }}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{{ end }}

<!-- KaTeX -->
{{ if .Site.Params.katex }} 
  <script src="{{ "js/vendors/katex/katex.min.js" | absURL }}"></script>
  <script src="{{ "js/vendors/katex/contrib/auto-render.min.js" | absURL }}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      renderMathInElement(document.body);
    });
  </script>
{{ end }}

<!-- MDB Animations -->
<script>
  new WOW().init();
</script>
