{{ define "header" }} 
   {{ partial "site-navbar.html" . }} 
   {{ partial "homepage-header.html" . }}  

  <!-- Welcome Word -->
  {{ with $.Site.Params.welcome_head }}
    <section class="container pt-5 text-center">
      <h1 class="display-3">{{ $.Site.Params.welcome_head }}</h1>
      {{ with $.Site.Params.welcome_word }}
      <p style="font-size:1.8rem; color: var(--text-light);">{{ $.Site.Params.welcome_word }}</p>
      {{ end }}
    </section>
  {{ end }}
  <!-- /.Welcome Word -->

{{ end }} 


{{ define "main" }}
  <!-- Main layout -->
  <main class="post-main-wrapper px-5">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3">
        <!-- <hr> -->
        
        {{ partial "sidebar-categories.html" . }}
        
        {{ partial "sidebar-tags.html" . }}

        {{ partial "sidebar-series.html" . }}

      </div>
      <!-- /.Sidebar -->

      <!-- Recent Post list -->
        <div class="col-md-9 mt-3">  
        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "not in" (slice "index")) }}
        <div class="container content p-3">
        <ul>  
        <div class="div-x">
            <div class="post-heading">
                Recent Posts
            </div>
        </div>
        </ul>
        {{ range $paginator.Pages }}
            {{ partial "post-card.html" . }}
        {{ end }}
        <!-- Pagination controls, centered using Bootstrap's flex utility classes -->
        <div class="pagination pagination-outline d-flex justify-content-center">
            {{ $paginator := .Paginate .Data.Pages.ByPublishDate.Reverse }}
            {{ template "_internal/pagination.html" . }}
        </div>
        </div>

    </div>
  </main>
  <!--Main layout-->

{{ end }}